{%
set version = {
    'bootstrap': '3.0.3',
    'jquery'   : '2.0.3',
}
%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'Web Design & Development III'|escape }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ version.bootstrap }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ version.bootstrap }}/css/bootstrap-theme.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{ version.jquery }}/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ version.bootstrap }}/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
