{% extends "::base.html.twig" %}

{% block title %}Create Article | {{ parent() }}{% endblock %}

{% block body %}
    {% set class_error = ' has-error alert alert-warning' %}
    <h1 class="col-sm-offset-3 col-sm-9">Article</h1>
    {{ form_errors(articleForm) }}
    {{ form_start(articleForm, {"attr": {"class": "form-horizontal"} }) }}
    <div class="form-group{{ articleForm.title.vars.valid ? '' : class_error }}">
        {{ form_label(articleForm.title, label|default(),
        { "label_attr": { "class": "col-sm-3 control-label"}}) }}
        <div class="col-sm-9">
            {{ form_widget(articleForm.title,
            {"attr": {"class": "form-control" } }) }}
        </div>
        {% if not articleForm.title.vars.valid %}
            <div class="col-sm-offset-3 col-sm-9">
                <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                {{ form_errors(articleForm.title) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group{{ articleForm.body.vars.valid ? '' : class_error }}">
        {{ form_label(articleForm.body, label|default(),
        { "label_attr": { "class": "col-sm-3 control-label"}}) }}
        <div class="col-sm-9">
            {{ form_widget(articleForm.body,
            {"attr": {"class": "form-control" } }) }}
        </div>
        {% if not articleForm.body.vars.valid %}
            <div class="col-sm-offset-3 col-sm-9">
                <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                {{ form_errors(articleForm.body) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group{{ articleForm.categories.vars.valid ? '' : class_error }}">
        {{ form_label(articleForm.categories, label|default(),
        { "label_attr": { "class": "col-sm-3 control-label"}}) }}
        <div class="col-sm-9">
            {{ form_widget(articleForm.categories,
            {"attr": {"class": "form-control" } }) }}
        </div>
        {% if not articleForm.categories.vars.valid %}
            <div class="col-sm-offset-3 col-sm-9">
                <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                {{ form_errors(articleForm.categories) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(articleForm.btn_article,
            {"attr": {"class": "btn btn-primary"} }) }}
        </div>
    </div>
    {{ form_end(articleForm) }}
{% endblock %}
