{% extends "::base.html.twig" %}

{% block title %}List Articles | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <div class="list-group">
    {% for article in articles %}
        <article class="list-group-item">
            <h4 class="list-group-item-heading">{{ article.title }}</h4>
            <p>{{ article.body }}</p>
            <p class="list-group-item-text">{% for category in article.categories %}<small class="label label-default">{{ category.name }}</small> {% endfor %}</p>
        </article>
    {% endfor %}
    </div>
    <a href="{{ path('ahs_blog_article_create') }}" class="btn btn-primary">New article</a>
{% endblock %}
