{% extends "::base.html.twig" %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}
<h1>Home page</h1>
    <div class="jumbotron">
    {% if app.user %}
        <h2>Welcome {{ app.user.givenname }}!</h2>
        <p>Use the button below to see the content of the user object.</p>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#user-details">User details</a>
                    </h4>
                </div>
                <div id="user-details" class="panel-collapse collapse">
                    {# dump() is not available in production environment #}
                    <div class="panel-body">{# {{ dump(app.user) }} #}</div>
                </div>
            </div>
        </div>
        <br>
        <h3>Add an article</h3>
        <a href="{{ path('ahs_blog_article_index') }}" class="btn btn-primary">List articles</a>
        <a href="{{ path('ahs_blog_article_create') }}" class="btn btn-primary">Create article</a>
        <h3>Sign off</h3>
        <a href="{{ path('ahs_blog_user_logout') }}" class="btn btn-warning">Sign off</a>
{% else %}
        <h2>Welcome visitor!</h2>
        <p>Please sign on to continue. Register first if you haven't done so before.</p>
        <a href="{{ path('ahs_blog_user_login') }}" class="btn btn-primary">Sign on</a>
        <a href="{{ path('ahs_blog_user_register') }}" class="btn btn-link">Register</a>
{% endif %}
    </div>
{% endblock %}
