{% extends "::base.html.twig" %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}
{% set class_error = ' has-error alert alert-warning' %}
<h1 class="col-sm-offset-3 col-sm-9">Please sign on</h1>
    {% if loginError %}
        <div class="alert alert-warning">{{ loginError.message }}</div>
    {% endif %}
    {{ form_errors(loginForm) }}
{{ form_start(loginForm, {"attr": {"class": "form-horizontal"} }) }}
    <div class="form-group{{ loginForm.username.vars.valid ? '' : class_error }}">
        {{ form_label(loginForm.username, label|default(),
        { "label_attr": { "class": "col-sm-3 control-label"}}) }}
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(loginForm.username,
                {"attr": {"class": "form-control" } }) }}
            </div>
        </div>
{% if not loginForm.username.vars.valid %}
        <div class="col-sm-offset-3 col-sm-9">
            <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
            {{ form_errors(loginForm.username) }}
        </div>
{% endif %}
    </div>
    <div class="form-group{{ loginForm.password.vars.valid ? '' : class_error }}">
        {{ form_label(loginForm.password, label|default(),
        { "label_attr": { "class": "col-sm-3 control-label"}}) }}
        <div class="col-sm-9">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form_widget(loginForm.password,
                {"attr": {"class": "form-control" } }) }}
            </div>
        </div>
        {% if not loginForm.password.vars.valid %}
            <div class="col-sm-offset-3 col-sm-9">
                <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                {{ form_errors(password.username) }}
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <input type="checkbox" id="remember" name="remember" checked>
                <label for="remember">Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(loginForm.btn_login,
            {"attr": {"class": "btn btn-primary"} }) }}
            <a href="{{ path('ahs_blog_user_register') }}" class="btn btn-link">Register</a>
        </div>
    </div>
{{ form_end(loginForm) }}
{% endblock %}
