{% extends "::base.html.twig" %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
{% set class_error = ' has-error' %}
<h1 class="col-sm-offset-3">Please register</h1>
{{ form_start(registerForm, {"attr": {"class": "form-horizontal"} }) }}
    <fieldset>
        <legend>Personalia</legend>
        <div class="form-group{{ registerForm.givenname.vars.valid ? '' : class_error }}">
            {{ form_label(registerForm.givenname, label|default(),
            {"label_attr": {"class": "col-sm-3 control-label"} }) }}
            <div class="col-sm-9">
                {{ form_widget(registerForm.givenname,
                {"attr": {"class": "form-control"} }) }}
            </div>
            {% if not registerForm.givenname.vars.valid %}
                <div class="col-sm-offset-3 col-sm-9">
                    <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                    {{ form_errors(registerForm.givenname) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group{{ registerForm.familyname.vars.valid ? '' : class_error }}">
            {{ form_label(registerForm.familyname, label|default(),
            { "label_attr": { "class": "col-sm-3 control-label"}}) }}
            <div class="col-sm-9">
                {{ form_widget(registerForm.familyname,
                {"attr": {"class": "form-control"} }) }}
            </div>
            {% if not registerForm.familyname.vars.valid %}
                <div class="col-sm-offset-3 col-sm-9 has-error">
                    <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                    {{ form_errors(registerForm.familyname) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group{{ registerForm.email.vars.valid ? '' : class_error }}">
            {{ form_label(registerForm.email, label|default(),
            { "label_attr": { "class": "col-sm-3 control-label"} }) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    {{ form_widget(registerForm.email,
                    {"attr": {"class": "form-control"} }) }}
                </div>
            </div>
            {% if not registerForm.email.vars.valid %}
                <div class="col-sm-offset-3 col-sm-9 has-error">
                    <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                    {{ form_errors(registerForm.email) }}
                </div>
            {% endif %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Account</legend>
        <div class="form-group{{ registerForm.username.vars.valid ? '' : class_error }}">
            {{ form_label(registerForm.username, label|default(),
            { "label_attr": { "class": "col-sm-3 control-label"}}) }}
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    {{ form_widget(registerForm.username,
                    {"attr": {"class": "form-control" } }) }}
                </div>
            </div>
            {% if not registerForm.username.vars.valid %}
                <div class="col-sm-offset-3 col-sm-9">
                    <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                    {{ form_errors(registerForm.username) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group{{ registerForm.password.vars.valid ? '' : class_error }}">
            {% for passwordItem in registerForm.password %}
                {{ form_label(passwordItem, label|default(),
                { "label_attr": { "class": "col-sm-3 control-label"} }) }}
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {{ form_widget(passwordItem,
                        {"attr": {"class": "form-control"} }) }}
                    </div>
                </div>
            {% endfor %}
            {% if not registerForm.password.vars.valid %}
                <div class="col-sm-offset-3 col-sm-9">
                    <h5><i class="glyphicon glyphicon-warning-sign"></i> <strong>Please fix:</strong></h5>
                    {% for passwordItem in registerForm.password %}
                        {{ form_errors(passwordItem) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {# {{ dump(registerForm.password) }} #}
    </fieldset>
    {# {{ dump(registerForm.username) }} #}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(registerForm.btn_register,
            {"attr": {"class": "btn btn-primary"} }) }}
            <a href="{{ path('ahs_blog_user_index') }}" class="btn btn-link">Back to the Home page</a>
    </div>
{{ form_end(registerForm) }}
{% endblock %}
